footer{
    border-top: solid #000000 2px;
}
.footer-wrapper{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.footer-container{
    display: flex;
    align-items:center;
    height: 300px;
}
.footer-container>ul>li>a{
    text-decoration: none;
    color:#000000;
}
.footer-logo > img{
    object-fit: contain;
    aspect-ratio: auto;
    height: auto;
    width: 100%;
}
.arrow{
    margin-left: 5px;
    height: 0.5em;
    width: auto;
}
.foot-item{
    margin-bottom: 5px;
}
.socials{
    width: 80%;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
}
.footer-icon{
    height: 25px;
    width: auto;
}

@media (max-width:801px){
    .footer-container:nth-child(n+3){
        display: none;
    }
    .footer-container:nth-last-child(-n+1){
        display: flex !important;
    }
}

@media (max-width:401px){
    .footer-container:nth-child(n+2){
        display: none;
    }
}