.product-way{
    gap: 55px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140.023%; /* 28.005px */
    margin-bottom: 30px;
    background-image: url('../icons/Arrow\ 5.svg'), url('../icons/Arrow\ 5.svg');
    background-repeat: no-repeat;
    background-position: 90px , 440px;
}

.general-img{
    margin-bottom: 20px;
}

.secondary-images{
    gap: 24px;
}

.product-title{
    max-width: 475px;
    margin-bottom: 10px;
}

.product-container{
    gap: 24px;
    margin-bottom: 30px;
}

.brief-information > span{
    padding-left: 10px;
    margin-left:15px;
    border-left: #091F5B solid 2px;
}


.stars{
    margin-right: 10px;
}

.raiting-span{
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: auto;
    margin-bottom: auto;
}

.availability{
    margin-top: auto;
    margin-bottom: auto;
}

.articul{
    margin-top: auto;
    margin-bottom: auto;
}

.product-paragraph{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140.023%; /* 28.005px */
    margin-bottom: 20px;
}

.download-container{
    min-height: 30px;
    background-image: url('../goods/products-img/иконка\ -\ скачать.svg');
    background-repeat: no-repeat;
    background-position: 297px center;
    margin-bottom: 30px;
}

.download{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140.023%; /* 28.005px */
}

.price{
    color: #091F5B;
    text-align: right;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.count_btn{
    justify-content: space-between;
}

.counter {
    margin-top: 46px;
    display: flex;
    align-items: center;
}

input[type="number"] {
    margin-right: 10px;
    border-radius: 6px;
    border: 2px solid #344EAD;
    width: 44px;
    height: 44px;
    text-align: center;
}

    /* hiding arrows in number inputs 
    Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

    /* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.minus-btn {
    cursor: pointer;
    background-color: #fff;
    border-radius: 6px;
    border: 2px solid #344EAD;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.plus-btn {
    cursor: pointer;
    background-color: #fff;
    border-radius: 6px;
    border: 2px solid #344EAD;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.basket-btn{
    margin-top: auto;
}

.product-navigation{
    gap: 90px;
    margin-bottom: 30px;
}

.navigation-btn{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140.023%; /* 28.005px */
    cursor: pointer;
    border: none;
    background-color: #fff;
}

.navigation-btn:focus{
    border-bottom: 2px solid #344EAD;
    outline-offset:-2px;
}

.info-paragraph{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140.023%; /* 28.005px */
    margin-bottom: 30px;
}

.specificatiopns-list{
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 30px;
}

.specifications-item{
    justify-content: space-between;
    width: 545px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140.023%; /* 28.005px */
}

.specifications-item div:nth-child(2){
    flex: 1 0;
    border-bottom: 1px dotted #000;
    height: 1em;
    margin: 0 .4em;
}

.rewiews-list{
    gap: 24px;
}

.rewiews-item{
    border-radius: 25px;
    background: #E6E6E6;
    padding: 23px;
    width: 384px;
}

.rewiews-container{
    margin-bottom: 12px;
}

.rewiews-item-avatar{
    margin-right: 15px;
}

.rewiews-name{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 140.023%; /* 28.005px */
    margin-top: auto;
    margin-bottom: auto;
}

.rewiews-date{
    color: #344EAD;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}

.rewiews-rating{
    gap: 8px;
}

.rewiews-num{
    color: #344EAD;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: auto;
    margin-bottom: auto;
}

.rewiews-text{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140.023%; /* 28.005px */
}

.js-display:ntn-child(-n+2){
    display: none;
}