header{
    margin-top: 5vh !important;
    width: 80%;
    margin: auto;
    height: 20%;
    font-size: 15px
}

.header-top{
    height: 25%;
    margin: 0 0 3vh ;
    display: flex;
    justify-content: space-between ;
    align-items:center;
}
.header-nav{
    width: 100%;
    display: flex;
    float: left;
    align-items: center;
}
.header-logo{
    width: 20%;
}
.header-logo > img {
    object-fit: contain;
    aspect-ratio: auto;
}
.header-nav>ul{
    display: inline;
}
.header-nav>ul>li>a{
    text-decoration: none;
    color:#000000;
}
.nav-item {
    list-style: none;
    display: inline;
    margin-left: 20px;
}
.basket{
    width: auto;
    text-decoration: none;
    color: #000000;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.basket-icon{
    margin: 0 10px 0 0;
    height: 1.2em;
    aspect-ratio: 1;
}
.header-bottom > form{
    position: relative;
}
.header-input-field{
    width: 100%;
    border-radius: 12px;
    min-height: 35px;
    border: solid 1px #000000;
    padding-left: 25px;
}
.header-submit-btn{
    all: unset;
    position: absolute;
    height: 100%;
    width: auto;
    aspect-ratio: 1/1;
    top:0;
    right: 0%;
    cursor: pointer;
}

.submit-icon{
    height: 55%;
    width: auto;
}

@media (max-width:801px){
    .header-nav{
        display: none !important;
    }
}