.main-title{
    margin: 0;
    padding-top: 170px;
    margin-bottom: 15px;
    max-width: 681px;
    color: #091F5B;
    font-size: 64px;    
    font-style: normal; 
    font-weight: 400;   
    line-height: normal;    
}

.hero-descr{
    margin: 0;
    margin-bottom: 45px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 510px;
}

.btns-wrapper{
    padding-bottom: 159px;
    gap: 36px;
}

.hero-btn{
    background: none;
    color: #000;
    outline: 2px solid #344EAD;
    outline-offset:-2px;
}

.hero-slider-btns{
    padding-bottom: 78px;
}

.left-side{
    justify-content: space-between;
    flex-direction: column;
}

.about-us-paragraph{
    margin: 0;
    max-width: 588px;
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.right-side{
    max-width: 436px;
    float: right;
}

.about-us-list{
    flex-wrap: wrap;
    gap: 35px 85px;
}

.about-us-item{
    justify-content: center center;
    width: 174px;
    min-height: 132px;
    text-align: center;
}

.about-us-descr{
    margin-top: auto;
    color: #000;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.a1{
    background: url('../icons/иконка\ -\ ассортимент.svg');
    background-repeat: no-repeat;
    background-position: top center;
}

.a2{
    background-size: 72px;
    background: url('../icons/иконка\ -\ мебель.svg');
    background-repeat: no-repeat;
    background-position: top center;
}

.a3{
    background: url('../icons/иконка\ -\ ноутбук\ \(1\).svg');
    background-repeat: no-repeat;
    background-position: top center;
}

.a4{
    background: url('../icons/иконка\ -\ рукопожатие\ \(1\).svg');
    background-repeat: no-repeat;
    background-position: top center;
}

.catalog-list{
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 30px;
}

.catalog-item{
    width: 180px;
    height: 266px;
    border-radius: 20px;
    outline: 2px solid #000;
    outline-offset:-2px;
    text-align: center;
    text-decoration: none;
}

.catalog-item-container{
    width: 180px;
    height: 66px;
    margin: 0 auto;
    margin-top: auto;
    text-align: center center;
    align-items: center;
    border-top: 2px solid #000;;
}

.catalog-item-container > span{
    margin: 0 auto;
    text-align: center center;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.с1{
    background-image: url('../icons/иконка\ -\ под\ ключ.svg');
    background-repeat: no-repeat;
    background-position:  center 46px;
}

.с2{
    background-image: url('../icons/иконка\ -\ физика\ \(1\).svg');
    background-repeat: no-repeat;
    background-position:  center 46px;
}

.с3{
    background-image: url('../icons/иконка\ -\ химия.svg');
    background-repeat: no-repeat;
    background-position:  center 46px;
}

.с4{
    background-image: url('../icons/иконка\ -\ микроскоп\ биология.svg');
    background-repeat: no-repeat;
    background-position:  center 43px;
}

.с5{
    background-image: url('../icons/иконка\ -\ математика.svg');
    background-repeat: no-repeat;
    background-position:  center 46px;
}

.с6{
    background-image: url('../icons/иконка\ -\ география.svg');
    background-repeat: no-repeat;
    background-position:  center 46px;
}

.с7{
    background-image: url('../icons/иконка\ -\ начальная.svg');
    background-repeat: no-repeat;
    background-position:  center 46px;
}

.с8{
    background-image: url('../icons/иконка\ -\ stem.svg');
    background-repeat: no-repeat;
    background-position:  center 31px;
}

.с9{
    background-image: url('../icons/иконка\ -\ робототехника.svg');
    background-repeat: no-repeat;
    background-position:  center 46px;
}

.с10{
    background-image: url('../icons/иконка\ -\ английский\ язык.svg');
    background-repeat: no-repeat;
    background-position:  center 46px;
}

.с11{
    background-image: url('../icons/иконка\ -\ лингофонный.svg');
    background-repeat: no-repeat;
    background-position:  center 46px;
}

.с12{
    background-image: url('../icons/иконка\ -\ информатика.svg');
    background-repeat: no-repeat;
    background-position:  center 46px;
}

.с13{
    background-image: url('../icons/иконка\ -\ труд.svg');
    background-repeat: no-repeat;
    background-position:  center 46px;
}

.с14{
    background-image: url('../icons/иконка\ -\ музыка.svg');
    background-repeat: no-repeat;
    background-position:  center 46px;
}

.с15{
    background-image: url('../icons/иконка\ -\ нвп.svg');
    background-repeat: no-repeat;
    background-position:  center 46px;
}

.с16{
    background-image: url('../icons/иконка\ -\ визуальное\ искусство.svg');
    background-repeat: no-repeat;
    background-position:  center 46px;
}

.с17{
    background-image: url('../icons/иконка\ -\ библиотека.svg');
    background-repeat: no-repeat;
    background-position:  center 46px;
}

.с18{
    background-image: url('../icons/иконка\ -\ патриотическое\ воспитание.svg');
    background-repeat: no-repeat;
    background-position:  center 46px;
}

.с19{
    background-image: url('../icons/иконка\ -\ овз.svg');
    background-repeat: no-repeat;
    background-position:  center 46px;
}

.с20{
    background-image: url('../icons/иконка\ -\ инклюзия.svg');
    background-repeat: no-repeat;
    background-position:  center 46px;
}

.с21{
    background-image: url('../icons/иконка\ -\ логопед.svg');
    background-repeat: no-repeat;
    background-position:  center 46px;
}

.с22{
    background-image: url('../icons/иконка\ -\ психолог.svg');
    background-repeat: no-repeat;
    background-position:  center 46px;
}

.с23{
    background-image: url('../icons/иконка\ -\ сенсорная\ комната.svg');
    background-repeat: no-repeat;
    background-position:  center 46px;
}

.с24{
    background-image: url('../icons/иконка\ -\ детский\ сад.svg');
    background-repeat: no-repeat;
    background-position:  center 46px;
}

.с25{
    background-image: url('../icons/БОльшая\ мебель.svg');
    background-repeat: no-repeat;
    background-position:  center 46px;
}

.с26{
    background-image: url('../icons/иконка\ -\ рекреация.svg');
    background-repeat: no-repeat;
    background-position:  center 46px;
}

.с27{
    background-image: url('../icons/иконка\ -\ актовый.svg');
    background-repeat: no-repeat;
    background-position:  center 46px;
}

.с28{
    background-image: url('../icons/иконка\ -\ столовая.svg');
    background-repeat: no-repeat;
    background-position:  center 46px;
}

.с29{
    background-image: url('../icons/иконка\ -\ спорт.svg');
    background-repeat: no-repeat;
    background-position:  center 46px;
}

.cataloge-more-btn{
    display: block;
    margin: 0 auto;
}

.slider-section {
    height: 800px;
    background-color: #000;
    position: relative;
}
.slider{
    width: 100%;
    height: 100%;
    overflow: hidden;    
}
.navigation{
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.label{
    height: 15px;
    width: 15px;
    margin: 6px;
    cursor: pointer;
    border: solid 1px #091F5B;
    opacity: .5;
    border-radius: 10px;
    transition: all .4s ease;
    background-color:#091F5B;
}
.label:hover{
    opacity: 1;
    transform: scale(1.1);
}
input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides{
    width: 400%;
    height: 100%;
    display: flex;
}
.slide{
    width: 25%;
    transition: all .6s ease; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

#r1:checked ~ .s1 {
    margin-left: 0;
}


#r2:checked ~ .s1 {
    margin-left: -25%;
}


#r3:checked ~ .s1 {
    margin-left: -50%;
}


#r4:checked ~ .s1 {
    margin-left: -75%;
}


.s1{
    background-image: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%),url("../img/Кабинет\ Химии\ 2.jpg");
}
.s2{
    background-image: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%),url("../img/Комфортный\ Кабинет.jpg");
}
.s3{
    background-image: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%),url("../img/Оборудование\ Для\ ОВЗ.jpg");
}
.s4{
    background-image: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%),url("../img/Безопасный\ Отдых.jpg");
}

.recommend{
  width: 90%;
  margin: auto;
  margin-bottom: 100px;
}


.recomend-item{
    margin: 10px 0 10px 10px;
    flex-direction: column;
    border-radius: 25px;
    outline: 2px solid #000; 
    height: 533px;
    width: 384px;
}

.recomended-item-image{
    height: 381px;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.recomend-item-content{
    padding: 20px 30px;
    flex-direction: column;
    border-top: 2px solid #000;
}

.recomend-item-title{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    margin-bottom: 7px;
}

.recomend-item-more{
    width: fit-content;
    margin-bottom: 15px;
    text-decoration: none;
    color: #344EAD;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-image: url('../icons/Arrow\ 2.svg');
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 22px;
}

.recomend-item-price{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.recomend-item-basket{
    text-decoration: none;
    color: #344EAD;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-image: url('../icons/Basket.svg');
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 27px;
}

.slider-container{
    width: 90%;
    margin: auto;
    max-width: 1200px;
    
}

.content {
  position: relative;
  box-sizing: border-box;
} 

.arrow {
  width: 20px;
  height: 40px;
}

.form-wrapper{
    flex-direction: column;
}


.feedback-span{
    display: inline-block;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 30px;
}

.feedback-form{
    flex-direction: column;
    justify-content: space-between;
    border: none;
}

input:focus {

    outline:none;
    border-bottom: 2px solid #888;
  }

.feedback-input{
    height: 30px;
    max-width: 540px;
    border: none;
    border-bottom: 2px solid #888;
    margin-bottom: 30px;
}

.feedback-input:active {
    border: none;
    border-bottom: 2px solid #888;
}

.feedback-checkbox{
    cursor: pointer;
    width: 23px;
    height: 23px;
    border-radius: 20px;
    margin-right: 15px;
}

.blog-list{
    gap: 24px;
    margin-bottom: 30px;
}

.blog-item{
    max-width: 384px;
    background: #E6E6E6;
    border-radius: 25px;
}

.blog-item-container{
    padding: 25px;
}

.blog-item-title{
    margin: 0;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.blog-item-date{
    color: #344EAD;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.blog-paragraph{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.blog-read-more{
    padding-right: 30px;
    background-image: url('../icons/Arrow\ 4.svg');
    background-repeat: no-repeat;
    background-position: 144px;
    text-decoration: none;
    color: #344EAD;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.blog-btn{
    margin: 0 auto;
}

.contacts-list {
    flex-wrap: wrap;
    gap: 30px;
}

.contacts-item{
    min-width: 323px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contacts-item:nth-child(2n-1){
    margin-right: auto;
}

.accordion{
    position: relative;
    height: 0;
    overflow: hidden;
    transition: 0.5;
}

.active{
    height: 100%;
}
.btn-text::after{
    content:"Смотреть ещё";
}
.undo::after{
    content:"Свернуть";
}

.b1{
    width: 500px;
    background-image: url('../icons/иконка\ -\ тг.svg'), url('../icons/иконка\ -\ вотсап.svg');
    background-repeat: no-repeat;
    background-position: 395px, 353px;
}