.section-hero{
    background-image: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%),url("img/Кабинет\ Химии\ 2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main-title{
    margin: 0;
    padding-top: 170px;
    margin-bottom: 15px;
    max-width: 571px;
    color: #091F5B;
    font-size: 64px;    
    font-style: normal; 
    font-weight: 400;   
    line-height: normal;    
}

.hero-descr{
    margin: 0;
    margin-bottom: 45px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 510px;
}

.hero-btns{
    padding-bottom: 159px;
    gap: 36px;
}

.hero-btn-1{
    background: none;
    color: #000;
    outline: 2px solid #344EAD;
    outline-offset:-2px;
}

.hero-slider-btns{
    padding-bottom: 78px;
}